@model LotteryChecker.Common.Models.ViewModels.StatisticVm

<div class="row">
    <div class="col-lg-2 border-end text-start border-3">
        <p class="mt-0 fw-bold">
            <span class="d-block">Thống kê</span>
            <span class="d-block">theo thời gian</span>
        </p>
    </div>
    <div class="col-lg-10 px-4">
        <div class="row">
            <div id="chart"></div>
        </div>
    </div>
</div>