@model LotteryChecker.Common.Models.ViewModels.ChangePasswordVm

@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "_LayoutAdmin";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ChangePassword" method="post">
                <div class="mb-3">
                    <label for="currentPassword" class="form-label">Mật khẩu hiện tại <span class="text-danger">*</span></label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" id="currentPassword" name="CurrentPassword">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Mật khẩu mới <span class="text-danger">*</span></label>
                    <input asp-for="NewPassword" type="password" class="form-control" id="newPassword" name="NewPassword">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới <span class="text-danger">*</span></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" name="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group my-4">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                    @* <a asp-action="Index" class="btn btn-secondary">Back to List</a> *@
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}