@model LotteryChecker.Common.Models.Entities.PurchaseTicketVm

@{
    ViewData["Title"] = "Purchase Ticket";
    Layout = "_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/customize.css" asp-append-version="true"/>
}

<div class="px-2">
    <div class="row">
        <div class="col-lg-3 text-center d-flex flex-column justify-content-center left-banner" style="background-color:#FFD7D7;">
            <h3>Liên hệ quảng cáo</h3>
            <h5>0123 456 789</h5>
        </div>
        <div class="col-lg-5 mx-auto">
            <div class="row gx-2 justify-content-center">
                <div class="d-flex justify-content-between mb-4">
                    <h4>Mua vé số</h4>
                </div>
                <form asp-action="PurchaseTicket" method="post">
                    <div class="card-body">
                        <div class="form-group mb-2">
                            <label asp-for="LotteryNumber" class="text-for-checking-ticket">Nhập số vé <span class="text-danger">*</span></label>
                            <input asp-for="LotteryNumber" type="text" class="form-control input-for-checking-ticket" placeholder="Số vé"/>
                            <span asp-validation-for="LotteryNumber" class="text-danger d-block"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="DrawDate" class="text-for-checking-ticket">Ngày quay thưởng <span class="text-danger">*</span></label>
                            <input asp-for="DrawDate" type="date" class="form-control input-for-checking-ticket" placeholder="Ngày quay thưởng"/>
                            <span asp-validation-for="DrawDate" class="text-danger d-block"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-for-checking-ticket" value="Mua vé"/>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-lg-3 d-flex flex-column align-items-center right-banner">
            <div class="w-100">
                <div class="d-flex justify-content-between mb-4">
                    <h4>Lịch sử mua vé</h4>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

}