body {
    overflow-x: hidden;
}

.custom-nav {
    position: relative;
}

.website-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.break-line {
    width: 50%;
    height: 5px;
    background-color: #FF2020;
}

.login-form {
    /*border-left: 3px solid #BDBDBD;*/
    /*border-right: 3px solid #BDBDBD;*/
    border-radius: 10px;
    background-color: #fff;
    margin-left: 7rem;
    margin-right: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

form {
    font-size: 1rem;
}

.login-form label {
    font-size: 1.25rem;
}

.login-form input {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    margin-top: 0.25rem;
    border-radius: 10px !important;

    &:hover {
        border-color: #4d4d4d;
    }
}

.my-btn-login {
    color: #fff;
    background-color: #FF2020;

    &:hover {
        color: #a6a6a6;
        background-color: #dc1c1c;
    }
    &:focus {
        color: #a6a6a6;
        background-color: #dc1c1c;
    }
    &:focus-visible {
        color: #a6a6a6;
        background-color: #dc1c1c;
    }
}

.forgot-password-btn {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.my-text-register {
    color: #000;
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0;
}

.my-btn-login-facebook {
    position: relative;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    color: #fff;
    border: none;
    background-color: #1877f2;

    &:hover {
        color: #e7e7e7;
        background-color: #136ada;
    }
    &:focus {
        color: #e7e7e7;
        background-color: #136ada;
    }
    &:focus-visible {
        color: #e7e7e7;
        background-color: #136ada;
    }
}

.my-btn-login-google {
    position: relative;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    color: #000;
    border: none;
    background-color: #e8eaee;

    &:hover {
        background-color: #c9c4c4;
    }
    &:focus {
        background-color: #c9c4c4;
    }
    &:focus-visible {
        background-color: #c9c4c4;
    }
}

.btn-icon {
    border-radius: 10rem;
    position: absolute;
    left: 0.5rem;
    top: 15%;
    height: 70%;
    aspect-ratio: 1;
}