@model LotteryChecker.Common.Models.Authentications.ForgotPasswordVm

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_AuthenLayout";
}

<div class="my-5">
    <div class="row">
        @await Html.PartialAsync("_LeftPanelPartial")
        <div class="col-lg-5 ms-auto">
            <div class="login-form">
                <div class="d-flex justify-content-between mb-3 text-center">
                    <h3 class="w-100 text-capitalize">ngã ở đâu gấp đôi ở đó</h3>
                </div>
                <div class="mx-lg-5 mt-5">
                    <p>
                        Một đường link đã được gửi tới email của bạn. Vui lòng kiểm tra.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>