@model LotteryChecker.Common.Models.Authentications.ForgotPasswordVm

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_AuthenLayout";
}

<div class="my-5">
    <div class="row">
        @await Html.PartialAsync("_LeftPanelPartial")
        <div class="col-lg-5 ms-auto">
            <div class="login-form">
                <div class="d-flex justify-content-between mb-3 text-center">
                    <h3 class="w-100 text-capitalize">ngã ở đâu gấp đôi ở đó</h3>
                </div>
                <div class="mx-lg-5 mt-5">
                    <form asp-action="ForgotPassword" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Nhập email"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <div class="card-footer mt-3">
                            <input type="submit" class="btn my-btn-login w-100" value="Xác nhận"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>