@model LotteryChecker.Common.Models.Authentications.ForgotPasswordVm

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_AuthenLayout";
}

<div class="my-5">
    <div class="row">
        @await Html.PartialAsync("_LeftPanelPartial")
        <div class="col-lg-5 ms-auto">
            <div class="login-form">
                <div class="d-flex justify-content-between mb-3 text-center">
                    <h3 class="w-100 text-capitalize">ngã ở đâu gấp đôi ở đó</h3>
                </div>
                <div class="mx-lg-5 mt-5">
                    <p class="text-center">
                        Đổi mật khẩu thành công!
                    </p>
                </div>

                <div class="text-start border-bottom pb-3 mt-2 text-center">
                    <a class="forgot-password-btn" asp-action="Login">Quay lại Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>