<!-- Footer-->
<footer style="background-image: linear-gradient(#E9E9E9, #fff); overflow-x: hidden;">
    <div class="container-fluid mx-5 px-2 d-flex justify-content-center unset-width">
        <div class="">
            <div class="fs-6 mb-3">
                <p class="mb-1">Must be 18 years or older to purchase. Please Play Responsibly.</p>
                <p class="mt-0">© 2024 Group 3 FPT Software. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>