@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using LotteryChecker.Common.Models.ViewModels
@{
    var userJson = TempData["User"] as string;
    UserVm? user = null;
    if (userJson != null)
    {
        user = JsonConvert.DeserializeObject<UserVm>(userJson);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Xổ số kiến thiết</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")"/>
    <!-- Font Awesome icons (free version)-->
    <script src="~/fontawesome/all.js" crossorigin="anonymous"></script>
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style="background-image: linear-gradient(#fff, #E9E9E9)">
    <div class="container-fluid mx-5 px-2">
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
            <span style="color: red">XOSO</span><span style="color: black">KIENTHIET</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Lottery" asp-action="Index">Kết Quả Xổ Số</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Lottery" asp-action="CheckTicket">Dò Vé Số</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="PurchaseTicket" asp-action="Index">Mua Vé Số</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Thống Kê</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="SearchHistory" asp-action="Index">History</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">Go to admin</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="width: auto;">
                @if (user == null)
                {
                    <li class="nav-item custom-btn-register">
                        <a class="nav-link" asp-controller="Authen" asp-action="Register">Đăng ký</a>
                    </li>
                    <li class="nav-item custom-btn-login">
                        <a class="nav-link" asp-controller="Authen" asp-action="Login">Đăng nhập</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link hello-text" href="#">Xin chào, <strong>@user.LastName</strong></a>
                    </li>
                    <li class="nav-item custom-btn-login">
                        <a class="nav-link" asp-controller="Authen" asp-action="Logout">Đăng xuất</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<header class="masthead">
</header>
<div class="container-fluid mx-5 unset-width">
    <main role="main" class="py-3">
        @RenderBody()
    </main>
</div>

@await Html.PartialAsync("_Footer")

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>