<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Xổ số kiến thiết</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")"/>
    <!-- Font Awesome icons (free version)-->
    <script src="~/fontawesome/all.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav" style="background-image: linear-gradient(#fff, #E9E9E9)">
    <div class="container px-2">
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
            <span style="color: red">XOSO</span><span style="color: black">KIENTHIET</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Kết Quả Xổ Số</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Dò Vé Số</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Mua Vé Số</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Thống Kê</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Other</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="width: auto;">
                <li class="nav-item custom-btn-register">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Đăng ký</a>
                </li>
                <li class="nav-item custom-btn-login">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image: url(@Url.Content("~/images/banner.png"))">
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@await Html.PartialAsync("_Footer")

<!-- Footer-->
<footer style="background-image: linear-gradient(#E9E9E9, #fff)">
    <div class="container px-2 d-flex justify-content-between">
        <div class="">
            <div class="fs-6 fw-bold text-start text-decoration-underline mb-3">Thông tin liên hệ</div>
            <div class="fs-6 text-start mb-1">(84) 123 456 789</div>
            <div class="fs-6 text-start text-decoration-underline mb-1">js.fs.group3@fpt.com</div>
            <div class="fs-6 text-start mb-4">Toà FSA - Twitter Beans Coffee - Khu Công nghệ cao Hoà Lạc – Hà Nội, Việt Nam</div>
            <div class="fs-6 fw-bold text-start text-decoration-underline mb-3">Disclaimer</div>
            <img src="images/disclaimer.png" alt="disclaimer"/>
        </div>
        <div class="d-flex flex-column align-items-end">
            <img src="images/bottom_logo.png" alt="logo" class="mb-3"/>
            <div class="fs-6 text-end mt-auto">Must be 18 years or older to purchase. Please Play Responsibly.</div>
            <div class="fs-6 text-end">© 2024 Group 3 FPT Software. All Rights Reserved</div>
        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>